<div class="panel panel-default">
    <div class="panel-heading">{{beer.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{activeBeer.photo}}" alt="{{activeBeer.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 text-justify">
                    <strong>Nom :</strong><br>
                    {{activeBeer.name}}<br><br>
                    <strong>Description :</strong><br>
                    {{activeBeer.description}}<br><br>
                </div>
                <div class="col-md-6">
                    <strong>Créer à :</strong><br>
                    {{activeBeer.created_at}}
                </div>
                <div class="col-md-6">
                    <strong>Modifier à :</strong><br>
                    {{activeBeer.updated_at}}
                </div>
                <div class="col-md-12"><br>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" data-ng-click="show()">Afficher brasseur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="beers" >Retour</a>
</div>