<div class="panel panel-default">
    <div class="panel-heading">{{activeBrewery.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{activeBrewery.photo}}" alt="{{activeBrewery.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 text-justify">
                    <strong>Nom :</strong><br>
                    {{activeBrewery.name}}<br><br>
                    <strong>Site internet :</strong><br>
                    <a href="{{activeBrewery.url}}">{{activeBrewery.url}}</a><br><br>
                </div>
                <div class="col-md-6">
                    <strong>Créée à :</strong><br>
                    {{activeBrewery.created_at}}
                </div>
                <div class="col-md-6">
                    <strong>Modifiée à :</strong><br>
                    {{activeBrewery.updated_at}}
                </div>
                <div class="col-md-12"><br>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" data-ng-click="afficherBieres()">Afficher les bières</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="breweries">Retour</a>
</div>
